[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim256-color"]
	path = bundle/vim256-color
	url = http://github.com/noah/vim256-color.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = http://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/xptemplate"]
	path = bundle/xptemplate
	url = http://github.com/drmingdrmer/xptemplate.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = http://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = http://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = http://github.com/slack/vim-l9.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = http://github.com/tomtom/tcomment_vim.git
[submodule "bundle/histwin"]
	path = bundle/histwin
	url = http://github.com/chrisbra/histwin.vim
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "bundle/0scan"]
	path = bundle/0scan
	url = http://github.com/vim-scripts/0scan.git
[submodule "bundle/scmdiff"]
	path = bundle/scmdiff
	url = http://github.com/ghewgill/vim-scmdiff
[submodule "bundle/zcommand-t"]
	path = bundle/zcommand-t
	url = http://github.com/wincent/Command-T.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/srcexpl"]
	path = bundle/srcexpl
	url = http://github.com/vim-scripts/Source-Explorer-srcexpl.vim
[submodule "bundle/buftabs"]
	path = bundle/buftabs
	url = http://github.com/vim-scripts/buftabs
[submodule "bundle/vim-protodef"]
	path = bundle/vim-protodef
	url = http://github.com/derekwyatt/vim-protodef.git
[submodule "bundle/showmarks"]
	path = bundle/showmarks
	url = http://github.com/vim-scripts/ShowMarks.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = http://github.com/sjbach/lusty.git
[submodule "bundle/css-color"]
	path = bundle/css-color
	url = http://github.com/ap/vim-css-color.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = http://github.com/vim-scripts/mru.vim.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = http://github.com/bingaman/vim-sparkup.git
